.animals {

}

.animals__inner {

}

.animals__title {
  color: #0D444D;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.animals__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
}

.animals__item {
  width: 32%;
  padding: 15px;
  // border: 0.719px solid #000;
}

.animals__img {
  width: 100%;
  margin-inline: auto;
}

.animals__list-title {
  color: #2D2D2D;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (min-width: 550px) {

  .animals__list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .animals__img {
    width: 105px;
  }
}